.container__big-card {
  // border: solid white 2px;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
}
.big-card__title {
  margin: 20px 0px;
}
.big-card__title h1 {
  font-size: 20px;
}
.big-card__description p a{
  color: gray;
}

.big-card__photo img {
  width: 100%;
}
