<div class="container__main">
  <app-menu-title></app-menu-title>
  <div class="container__articles">
    <div class="articles__main">
      <app-big-card
        Id="502"
        photoCover="https://drive.google.com/thumbnail?sz=w1000&id=14p-EvYCctAIgefcCCtzij0WKuK4BPxKn"
        cardDescription="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem, natus totam quia deleniti velit necessitatibus?"
        cardTitle="Novo Homem de Ferro Anunciado"
      ></app-big-card>
    </div>

    <div class="articles__others">
      <app-small-card
        Id="503"
        photoCover="https://drive.google.com/thumbnail?sz=w1000&id=14p-EvYCctAIgefcCCtzij0WKuK4BPxKn"
        cardTitle="Sau a nova versão do Angular"
      ></app-small-card>
      <app-small-card
        Id="504"
        photoCover="https://drive.google.com/thumbnail?sz=w1000&id=14p-EvYCctAIgefcCCtzij0WKuK4BPxKn"
        cardTitle="Sau a nova versão do Angular"
      ></app-small-card>
      <app-small-card
        Id="505"
        photoCover="https://drive.google.com/thumbnail?sz=w1000&id=14p-EvYCctAIgefcCCtzij0WKuK4BPxKn"
        cardTitle="Sau a nova versão do Angular"
      ></app-small-card>
    </div>
  </div>
</div>

<div class="container__movies">
  <div class="title__movies"><h1>Titulo aleatorio</h1></div>
  <div class="cards__movies">
    <app-movie-card class="teste"></app-movie-card
    ><app-movie-card class="teste"></app-movie-card
    ><app-movie-card class="teste"></app-movie-card>
    <app-movie-card class="teste"></app-movie-card>
  </div>
</div>
